/*// </ff>*/
.header{
    background-color: transparent;
    height: 60px;
    font-size: 16px;
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: space-between;
    text-align: center;
   padding-left: 190px;
    padding-right: 30px;
    border-bottom: 2px solid white;
    position: relative;

}
.logo{
    position: relative;
    color: #ff0000;
    letter-spacing: 3px;
    display: inline-block;
    font-size: 15px;
    font-family: 'Russo One', sans-serif;
    font-variant: small-caps;
    transition: color 0.3s ease-in-out;
    text-shadow: 1px 1px #fffcf5, 3px 3px;
    margin-bottom: 20px;
}
.logo h3{
    font-variant: normal;
}
.logo div {
    position: absolute;
    font-size: 24px;
    text-shadow: 1px 1px #fffcf5;
    transition: all 0.3s ease-in-out;
    letter-spacing: 0;
    left: 0;
    white-space: nowrap;
    transform: translateY(0);
}

.logo:hover div {
    left: 100%;
    transform: translateY(-100%);
}

a{
    color: #ff0000;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Russo One', sans-serif;
    font-variant: small-caps;
    transition: color 0.3s ease-in-out;
    text-shadow: 1px 1px #fffcf5, 2px 2px;
}

.InputGroup button,
input {
    border: 0;
    outline: 0;
    font-size: 16px;
    border-radius: 320px;
    padding: 16px;
    background-color: #ebecf0;
    text-shadow: 1px 1px 0 #fff;

}

label {
    margin-bottom: 24px;
}

input {
    margin-right: 8px;
    box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
    box-sizing: border-box;
}
input:focus {
    box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}

.InputGroup button {
    color: #61677c;
    box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.InputGroup button:hover {
    box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
}
.InputGroup button:active {
    box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}
.InputGroup button .icon {
    margin-right: 8px;
}
.InputGroup button.unit{
    left: 10px;
    right: 100px;
    line-height: 0;
    justify-content: center;
    align-items: center;
    margin: 0 8px;
}

.InputGroup {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.InputGroup > label {
    margin: 0;
    flex: 1;
}
