body{
  font-family: Segoe Print;
}
.User{
  border: 1px solid grey;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
}
.User > h2{
  font-size: 15px;
  width: 100px;
  background: #eaf6ff;
  border: 1px solid grey;
  border-radius: 5px;
  align-items: center;
  text-align: center;
  justify-content:center;

}
.Users{
  margin-top: 20px;
}
.Post{
  width: 500px;
  height: 120px;
  margin: 5px;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 5px;
}
.Posts{
  margin-top: 20px;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.Post > h2{
background: #eaf6ff;
  border: 1px solid grey;
  border-radius: 5px;
  align-items: center;
  text-align: center;
  justify-content:center;

}
a {
  text-decoration: none;
  color: black;
}
.Comment{
  width: 500px;
  height: 120px;
  margin: 5px;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 5px;
}
.Comments{
  margin-top: 20px;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.Comment > h2{

  background: #eaf6ff;
  border: 1px solid grey;
  border-radius: 5px;
  align-items: center;
  text-align: center;
  justify-content:center;

}