.Comment{
  width: 500px;
    height: 250px;
  margin-top: 10px;
  padding: 10px;
  border: 2px solid black;
}
.Comments{
  margin: 10px;
  display:flex;
  flex-wrap: wrap;
    justify-content: space-around;

}
.Post{
    width: 500px;
    height: 100px;
    margin-top: 10px;
    padding: 10px;
    border: 2px solid black;
}
.Posts{
    margin: 10px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
ul{
    position: -webkit-sticky;
    position: sticky;
    background: #fff;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    text-align: center;
    top: 0;
    background: linear-gradient(90deg, #deeaf5, #fdfdfd);
}
.UserDetails{
    position: -webkit-sticky;
    width: 300px;
    position: sticky;
    background: #fff;
    align-items: center;
    justify-content: center;
    top: 150px;
    left: 500px;
    /*background: linear-gradient(90deg, #deeaf5, #fdfdfd);*/
    font-size: 20px;
    border-radius: 10px;
    padding: 5px;
}
.UserDetails>h3{
    background: linear-gradient(90deg, #deeaf5, #fdfdfd);

    border-radius: 10px;
    padding: 5px;
}
.UserDetails>p{
    background: linear-gradient(90deg, #deeaf5, #fdfdfd);

    border-radius: 10px;
    padding: 5px;
}

.UserDetails>h4{
    background: linear-gradient(90deg, #deeaf5, #fdfdfd);

    border-radius: 10px;
    padding: 5px;
}
.User{
    width: 400px;

    border-radius: 10px;
    margin-top: 10px;
    padding: 5px;
    background: linear-gradient(90deg, #deeaf5, #fdfdfd);
}
.Users{
    width: 100%;
    /*margin: -700px 20px 30px 40px;*/
}