.Main{

   background: #f7fafa;

 }
.Title{
  text-align: center;
}
.SimpsonFamily{

   justify-content: center;
   align-items: center;
   text-align: center;
   display: flex;
 }
.simpson{
  width: 370px;


  border: 2px solid black;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
}

img{
  width: 200px;
  height: 300px;
}
h1{
  color: #3535c4;
  font-family: Vollkorn;
  font-size: 40px;
}
.ColorText{
  color: #6f9af6;
}

.Rickandmorty{
  width: 300px;
  border: 2px solid black;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;

}

.Character{

  justify-content: center;
  align-items: center;
  text-align: center;

  display:flex;
  flex-wrap: wrap-reverse;


}